################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment1-3/.vs/Assignment1-3/v17/.suo
